/* Typewriter Effect */
.typewriter-text {
    color: var(--first-color);
    border-right: 2px solid var(--first-color);
    padding-right: 4px;
    animation: cursor-blink 0.75s step-end infinite;
}

@keyframes cursor-blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--first-color)
    }
}